name: CI
on:
  push:
    branches: [ "test" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: node:16.15.0
      ports:
        - 3000
      volumes:
        - my_docker_volume:/volume_mount
      options: --cpus 1

    steps:
      - uses: actions/checkout@v3
      - name: Install
        run: yarn install

